/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';
@import './base/base.css';

/* 3rd-party */
@import './3rd-party/font-awesome.min.css';

/* components */
@import './components/button.css';
@import './components/footer.css';
@import './components/form.css';
@import './components/gallery.css';
@import './components/header.css';
@import './components/hobbies.css';
@import './components/progress-bar.css';
@import './components/services.css';
@import './components/testimonials.css';

/* CUSTOM STYLE FOR HOME PAGE */

/* HEADER START */
/* HEADER END */

/* HERO START */
/* HERO END */

/* ABOUT ME START */
/* ABOUT ME END */

/* HOBBIES START */
@media (min-width: 800px) {
  .container > .row > .title-hobbies {
    grid-column-start: 3;
  }
}
/* HOBBIES END */

/* ACHIEVEMENTS START */
/* ACHIEVEMENTS END */

/* SERVICES START */
@media (min-width: 800px) {
  .container > .row > .title-services {
    grid-column-start: 3;
  }
}
/* SERVICES END */

/* WORK HISTORY START */
/* WORK HISTORY END */

/* EXPERTISE START */
/* EXPERTISE END */

/* PORTFOLIO START */
@media (min-width: 800px) {
  .container > .row > .title-portfolio {
    grid-column-start: 3;
  }
}
/* PORTFOLIO END */

/* TESTIMONIALS START */
/* TESTIMONIALS END */

/* BLOG START */
@media (min-width: 800px) {
  .container > .row > .title-blog {
    grid-column-start: 3;
  }
}
/* BLOG END */

/* PROMO START */
@media (min-width: 1080px) {
  .container > .row > .promo {
    grid-column-start: 2;
  }
}
@media (min-width: 1200px) {
  .container > .row > .promo {
    grid-column-start: 3;
  }
}
/* PROMO END */

/* CONTACT ME START */
/* CONTACT ME END */

/* FOOTER START */
@media (min-width: 800px) {
  .container > .row > .footer-details {
    grid-column-start: 3;
  }
}
/* FOOTER END */
