.section-title {
  font-size: 28px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px;
}
.section-title::before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 20px;
  background-image: url(../../img/title.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.section-description {
  color: #777;
  text-align: center;
}

.bg-light {
  background-color: #fff;
}
.bg-grey {
  background-color: #f9fafd;
}
.bg-dark {
  background-color: #3c4858;
  color: #fff;
}
